cachetools==3.0.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
Flask==1.0.2
google-api-core==1.5.2
google-auth==1.6.1
googleapis-common-protos==1.5.5
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
locust==0.0
locustio==0.9.0
MarkupSafe==1.1.0
msgpack==0.5.6
opencensus==0.1.8
opentracing==2.0.0
protobuf==3.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
pycryptodome==3.7.2
pyOpenSSL==18.0.0
pytz==2018.7
pyzmq==17.1.2
redis==3.0.1
requests==2.20.0
rsa==4.7
six==1.11.0
urllib3==1.26.5
Werkzeug==0.15.3
